@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: rebeccapurple;
}

header {
    background-color: lightgray;
}

header >h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: gray;
    text-align: center;
}

menu li {
    display: inline-block;
    padding: 10px;
    color: white;
}

main {
    background-color: rgb(224, 31, 224);
    width: 90vw;
    display: block;
    margin: auto;
    height: 90vh;
}

a {
    color: inherit;
    text-decoration: none;
}

.produtos {
    color: #fff;
    border-radius: 4px;
    background-color: #2b1c7c;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.img-container{
    aspect-ratio: 1/1;
    object-fit: contain;
    background: white;
    text-align: center;
    height: 300px;
}
