@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: rebeccapurple;
}

header {
    background-color: lightgray;
}

header >h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: gray;
    text-align: center;
}

menu li {
    display: inline-block;
    padding: 10px;
    color: white;
}

main {
    background-color: rgb(238, 37, 188);
    width: 95vw;
    margin: auto;
    height: 100vh;
}

/* a {
    color: inherit;
    text-decoration: none;
} */

main > .prateleira {
    background-color: red;
    
}

.produtos {
    color: #fff;
    background-color: #2b1c7c;
    overflow: hidden;
    display: inline-block;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    left: 5%;
    

    
}

/* .detalhes {
    
}
 */
.img-container{
    aspect-ratio: 1/1;
    object-fit: contain;
    background: white;
    text-align: center;
    height: 250px;
}
